@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    /* background-image: url(https://wallpaperaccess.com/full/253332.jpg); */
    background-position: center;
    background-attachment: fixed;
}
/* .search-bar{
    backdrop-filter: blur(11px) saturate(200%);
    -webkit-backdrop-filter: blur(11px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
} */
/* .col{
    backdrop-filter: blur(11px) saturate(200%);
    -webkit-backdrop-filter: blur(11px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
} */
/* .card{
    border: none;
    backdrop-filter: blur(11px) saturate(200%);
    -webkit-backdrop-filter: blur(11px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
} */
.height {
    height: 150px;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}